.activity {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity {
    background: var(--header-bcg);
    padding-bottom: 94px;

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      color: var(--main-color-black);
      @include font(36px, 700, 42px);
      letter-spacing: 0.03em;
      text-align: center;
      margin-bottom: 50px;
    }

    &__text {
      position: absolute;
      padding-top: 27px;
      padding-bottom: 27px;
      background: rgba(47, 48, 58, 0.8);
      @include font(14px, 700, 16px);
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--accent-color-white);
      text-transform: uppercase;
      bottom: 0;
      width: 100%;
    }
  }

  .activity__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
