.advantages {
  background: var(--header-bcg);
}

.advantages-items {
  max-width: 450px;
  margin-bottom: 30px;

  &__title {
    color: var(--main-color-black);
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    color: var(--main-color-grey);
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .advantages-items {
    width: 354px;
    margin-bottom: 30px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &__title {
      color: var(--main-color-black);
      @include font(14px, 700, 16px);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: start;
    }

    &__text {
      color: var(--main-color-grey);
      @include font(14px, 400, 24px);
      letter-spacing: 0.03em;
    }
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-items {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__title {
    color: var(--main-color-black);
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: var(--main-color-grey);
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
  }
}
