header {
  background: var(--header-bcg);
}

.logo {
  font-family: var(--secondary-font);
  @include font(24px, 700, 28px);
  color: var(--secondary-color-black);
  text-decoration: none;
  letter-spacing: 0.03em;

  &__wrap {
    color: var(--accent-color-blue);
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .icon-cross {
    display: none;
  }
}
.menu-button.is-open .icon-cross {
  display: block;
  background-position: center;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.header {
  .site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }
}

.icon-menu {
  align-items: center;
  justify-content: center;
}

// .header {
//   display: flex;
//   align-items: center;
//   border-bottom: 1px solid var(--line-header);
// }

// .site-nav {
//   display: flex;
//   align-items: center;
// }

// .header {
//   .container {
//     display: flex;
//     align-items: center;
//     padding-top: 25px;
//     padding-bottom: 25px;
//   }
//   .logo {
//     margin-right: 93px;
//   }
// }

// .site-nav {
//   &__items {
//     display: flex;
//   }
//   &__link:hover,
//   &__link:focus {
//     color: var(--accent-color-blue);
//   }
//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
//   &__link {
//     text-decoration: none;
//     color: var(--main-color-black);
//     @include font(14px, 500, 16px);
//     letter-spacing: 0.02em;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &__contacts {
//     color: var(--main-color-grey);
//     @include font(14px, 500, 16px);
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     padding: 2px 0px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: var(--accent-color-blue);
//     }
//   }
// }

// .contacts {
//   display: flex;
//   font-style: normal;
// }

// .nav-adress {
//   margin-left: auto;
// }

// .nav-contacts {
//   &__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }
// .mail__icon {
//   width: 16px;
//   height: 12px;
//   fill: var(--main-color-grey);
//   cursor: pointer;
//   margin-right: 10px;
// }
// .site-nav__contacts:hover .mail__icon,
// .site-nav__contacts:focus .mail__icon {
//   fill: var(--accent-color-blue);
// }

// .mail {
//   &__icon:hover,
//   &__icon:focus {
//     fill: var(--accent-color-blue);
//   }
// }

// .tel {
//   width: 10px;
//   height: 16px;
//   margin-bottom: 1px;
// }
// .logo {
//   @include font(26px, 700, 31px);
// }
