:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color-black: #212121;
  --main-color-grey: #757575;
  --accent-color-blue: #2196f3;
  --secondary-color-black: #000000;
  --accent-color-white: #ffffff;
  --secondary-color-white-transparence: rgb(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --footer-bcg: #2f303a;
  --header-bcg: #ffffff;
  --team-bcg: #f5f4fa;
  --portfolio-bcg-btn-color: #f5f4fa;
  --portfolio-bcg-cards-color: #eeeeee;
  --line-header: #ececec;
}
